@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.mainText {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: semibold;
}

.subText {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}

.demoText {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.notchCard {
    clip-path: path('M 0 40 Q 160 0 200 40 Q 240 80 320 40 L 320 600 Q 320 620 300 620 L 20 620 Q 0 620 0 600 Z');
}